html, body {
  background-color: #1a1a1a !important;
  color: white !important;
  font-family: 'Poppins', sans-serif !important;
}

@keyframes move-left-right {
  0% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(-10px);
  }
}

.wishlistContainer {
  width: 60%;
  height: 80% !important;
  max-width: 600px;
  min-width: 500px;
  max-height: 500px;
  margin: 30px auto;
  background: #fcfcfc;
  padding: 1.5rem 2rem;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  color: black;
  font-size: 16px;
}

#newItemDescription {
  width: 50%;
  height: 30% !important;
}


.remove, .edit {
  float: right;
  cursor: pointer;
  margin-left: 5%;
}

@media screen and (max-width: 576px) {
  .page-header .container h6.category-absolute {
    width: 90%;
  }
  .form-horizontal .col-form-label, .form-horizontal .label-on-right {
    text-align: inherit;
    padding-top: 0;
  }
  .form-horizontal .col-form-label code, .form-horizontal .label-on-right code {
    padding: 0 10px;
  }
}

.page-header {
  min-height: 100vh;
  max-height: 999px;
  padding: 0;
  color: #ffffff;
  position: relative;
  overflow: hidden;
}

.page-header .page-header-image {
  position: absolute;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.page-header>.content {
  margin-top: 11%;
  text-align: center;
  margin-bottom: 50px;
}

.signup-page .page-header {
  max-height: fit-content;
}

.page-header .content-center {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  padding: 0 15px;
  width: 100%;
  max-width: 880px;
}

.page-header .content-center.brand {
  width: 47%;
}

.page-header footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.page-header .container {
  height: 100%;
  z-index: 1;
}

.page-header .category, .page-header .description {
  color: rgba(255, 255, 255, 0.8);
}

.page-header.page-header-small {
  min-height: 60vh;
  max-height: 440px;
}

.page-header.page-header-mini {
  min-height: 40vh;
  max-height: 340px;
}

.page-header .title {
  margin-bottom: 15px;
}

.page-header .title+h4 {
  margin-top: 10px;
}

.page-header.header-filter:after {
  background: rgba(0, 0, 0, 0.11);
}

.header-filter {
  position: relative;
}

.iframe-container iframe {
  width: 100%;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.3);
}

.index-page .squares {
  animation: move-left-right 1s infinite;
  background: #af86c542;
  background: -webkit-linear-gradient(0deg, #7b88c2 0%, #7094b8 100%);
  background: -o-linear-gradient(0deg, #5d6585 0%, #25394d 100%);
  background: -moz-linear-gradient(0deg, #596288 0%, #59738f 100%);
  background: linear-gradient(0deg, #657097 0%, #5b768f 100%);
  position: absolute;
  transition: 0.5s ease-out;
  overflow: hidden;
  border-radius: 20%;
}

.index-page .page-header {
  height: 100vh;
}

.index-page .page-header .container>.content-center.brand .h1-seo, .index-page .page-header .container>.content-center.brand h3 {
  color: #ffffff;
  font-weight: 600;
  text-transform: capitalize;
}

.index-page .page-header .container>.content-center.brand .h1-seo span, .index-page .page-header .container>.content-center.brand h3 span {
  font-weight: 600;
}

.index-page .page-header .category-absolute {
  position: absolute;
  top: 100vh;
  margin-top: -60px;
  padding: 0 15px;
  width: 100%;
  color: rgba(255, 255, 255, 0.5);
}

.index-page .squares {
  animation: move-left-right 1s infinite;
  background: #ab9fd6;
  background: -webkit-linear-gradient(0deg, #654b74 0%, #252338 100%);
  background: -o-linear-gradient(0deg, #715aa7 0%, #7d6c9b 100%);
  background: -moz-linear-gradient(0deg, #56627e 0%, #494468 100%);
  background: linear-gradient(0deg, #312d42d7 0%, #615077 100%);  
  position: absolute;
  transition: 1s ease-out;
  overflow: hidden;
  border-radius: 20%; 
}

.index-page .squares.square1 {
  animation: move-left-right 4s infinite;
  height: 300px;
  width: 300px;
  opacity: 0.5;
  left: 3%;
  top: -21%;
}

.index-page .squares.square2 {
  animation: move-left-right 6s infinite;
  height: 400px;
  width: 400px;
  opacity: 0.4;
  right: -5%;
  top: -12%;
}

.index-page .squares.square3 {
  animation: move-left-right 5s infinite;
  height: 200px;
  width: 200px;
  opacity: 0.1;
  left: -5%;
  bottom: 0%;
}

.index-page .squares.square4 {
  animation: move-left-right 10s infinite;
  height: 100px;
  width: 100px;
  opacity: 0.9;
  right: 27%;
  top: 70%;
}

.index-page .squares.square5 {
  animation: move-left-right 6s infinite;
  height: 250px;
  width: 250px;
  opacity: 0.1;
  left: 32%;
  bottom: 29%;
}

.index-page .squares.square6 {
  animation: move-left-right 9s infinite;
  left: 10%;
  top: 35%;
  height: 80px;
  width: 80px;
  opacity: 0.8;
}

.index-page .squares.square7 {
  animation: move-left-right 3s infinite;
  width: 300px;
  height: 300px;
  right: -5%;
  bottom: 0%;
  opacity: 0.1;
}

.index-page {
  background-color: #463e47;
}

.page-header .content-center {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  padding: 0 15px;
  width: 100%;
  max-width: 880px;
}

.page-header .content-center.brand {
  width: 47%;
}

@media (max-width: 575.98px) {
  .page-header .content-center.brand {
    width: unset;
  }
}

.index-page {
  margin: 0;
  /* font-family: "Poppins", sans-serif; */
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #525f7f;
  text-align: left;
}

.page-header .content-center.brand {
  width: 47%;
}

@media (min-width: 576px) {
  .d-sm-block {
    display: block !important;
  }
}

.masthead {
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 60rem;
  min-width: 90rem;
  padding: 15rem 5;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 75%, #00000000 100%), url('https://cdn.dribbble.com/users/909752/screenshots/6740452/9aab6e8e-1d91-470e-b5f2-4db86529c310.jpg?compress=1&resize=800x600');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: contain;
  background-color: #463e47;
}

.page-header {
  background-color: #463e47;
  /* font-family: 'Poppins', sans-serif; */
}

#homeNav {
  font-family: 'Poppins', sans-serif;
}

.d-inline {
  display: inline !important;
}

.btn-link {
  border: 0;
  box-shadow: none;
  padding: 0.5rem 0.7rem;
  background: transparent;
  color: #e3e3e3;
  font-weight: 800;
  cursor: pointer;
}

.btn-link:hover {
  background: transparent;
}

#aboutPara {
  cursor: pointer;
  font-size: 20px;
}

#aboutPara:hover {
  background-color: transparent;
}

#forwardIcon:hover {
  color: #bbcad8;
}

.carousel-item {
  height: 100vh;
  width: 100vw;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#para1 {
  font-size: 20px;
}

#para2 {
  font-size: 20px;
}

#para3 {
  font-size: 20px;
}

.card {
  width: 25rem;
}

/* .WishlistPage body, html {
  background-color: #1a1a1a !important;
}

.HomeSection body, html {
  background-color: #1a1a1a !important;
}

#wishlistDiv {
  margin-top: 15%;
}

.ShopPage body, html {
  background-color: #1a1a1a !important;
}

.SignupPage {
  background-color: #1a1a1a !important;
} */

#addItemLink {
  color: white !important;
}

#addItemH2 {
  color: white !important;
}

#subtotalH2 {
  color: white !important;
}

#checkoutButton {
  background-color: rgb(78, 124, 111) !important;
  color: white !important;
}

#checkoutButton:hover {
  background-color: #345a50 !important;
}

#emptyCartButton {
  background-color: rgb(136, 74, 74) !important;
}

#emptyCartButton:hover {
  background-color: rgb(99, 52, 52) !important;
}